  .sign-form {

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 384px;
    margin: 60px auto 0 auto!important;
    padding: 48px 37px!important;
    border: 1px solid var(--normal-color);
    box-sizing: border-box;
    background-color: var(--block-background);
    box-shadow: var(--block-shadow);

    .form-title {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.65rem;
      line-height: 1.2em;
      font-style: normal;
      font-weight: 500;
    }

    .form-spinner {
      position: relative!important;
      top: 50%;
      left: 50%;
    }

    .form-alert {
      position: relative;
      top: 50%;
      left: 50%;
    }

    .form-label {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      color: #262626;
      line-height: 22px;
      margin-bottom: 12px;

      .input {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 16px;
        line-height: 24px;
        outline: none;
        color: #262626;
        transition: 0.3s;
        &:focus {
          border: 1px solid #1890ff;
        }
      }
    }

    .form-button {
      cursor: pointer;
      background: #1890ff;
      border: none;
      border-radius: 4px;
      padding: 8px;
      color: #fff;
      transition: 0.3s;
      margin: 8px 0;
      &:hover {
        background: #188fffdd;
      }
    }

    .form-validate {
      color: #f5222d;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      margin: 0;
    }

    .required {
      border: 1px solid #f5222d;
      border-radius: 4px;
      padding: 8px 12px;
      font-size: 16px;
      line-height: 24px;
      outline: none;
      color: #262626;
      transition: 0.3s;
    }
  }